<html>
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login-form.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/react/react.js"></script>
    <script src="/bower_components/react/react-dom.js"></script>
    <script src="/bower_components/babel/browser.js"></script>
    <script type="text/babel" src="/js/login.js"></script>
  </head>
  <body>
    <div class="container" id="main">
    </div>
  </body>
</html>

