html {
  position: relative;
  min-height: 100%;
}
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.messages-list {
  height: 100%;
  overflow-y: scroll;
  background-color: #f5f5f5;
  padding: 10px;
}
.message-input {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.message-input textarea {
  resize: none;
  overflow: hidden;
}
.messages-list div#content {
  margin-bottom: 40px;
}
.message-body {
  word-wrap: break-word;
}
div.alert {
  margin: 20px;
}
.col-md-11 {
  padding: 0px;
}
.row {
  margin: 0px;
}